﻿<md-dialog aria-label="Add Insured" flex-80 class="modal-content">
    <div class="h2 text-center">Add/Update Insured</div>
    <form name="insuredForm" class="material-form-font" ng-submit="saveInsured(insuredForm)">
        <md-dialog-content layout="column">

            <div class="md-dialog-content" layout-gt-sm="row">
                <md-checkbox ng-model="insured.isPrimary"  ng-disabled="!isPrimaryEditable" aria-label="is insured primary">
                   Primary
                </md-checkbox>
            </div>
                <div class="md-dialog-content" layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Insured full name</label>
                        <input name="name" required ng-model="insured.name">
                        <div ng-messages="insuredForm.name.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must enter the full name of the insured.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="md-dialog-content" layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input name="city" ng-model="insured.city" required>
                        <div ng-messages="insuredForm.city.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must enter insured's city</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="insured.state">
                            <md-option name="state" ng-repeat="state in states" value="{{state.abbrev}}" required>
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                        <div ng-messages="insuredForm.state.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must select the  insured's state.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="insured.zipCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                        <div ng-messages="insuredForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">
                                That doesn't look like a valid postal code.
                            </div>

                        </div>
                    </md-input-container>
                </div>
                <md-dialog-actions>
                    <md-button class="md-raised" ng-disabled="savingData" ng-click="close()">Cancel</md-button>
                    <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Save</md-button>
                </md-dialog-actions>
</md-dialog-content>
    </form>
</md-dialog>