﻿<md-dialog aria-label="Add Insured" flex-80 class="modal-content">
    <div class="h2 text-center">Add/Updated Risk</div>
    <form name="riskForm" class="material-form-font" ng-submit="saveRisk(riskForm)">
        <md-dialog-content layout="column">

            <div class="md-dialog-content" layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Risk Construction</label>
                    <md-select ng-model="risk.construction" convert-to-number>
                        <md-option value="0">Site Built Home</md-option>
                        <md-option value="1">Modular Home</md-option>
                        <md-option value="2">Single Wide Manufactured Home</md-option>
                        <md-option value="3">Double Wide Manufactured Home</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Risk Year Built</label>
                    <md-select ng-model="risk.yearBuilt">
                        <md-option ng-repeat="year in years" value="{{year.value}}" required>
                            {{year.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="md-dialog-content" layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Risk address</label>
                    <input name="riskAddress" ng-model="risk.address" required>
                    <div ng-messages="riskForm.riskAddress.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply an address.</div>
                    </div>
                </md-input-container>
            </div>

            <div class="md-dialog-content" layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Risk City</label>
                    <input name="riskCity" ng-model="risk.city" required>
                    <div ng-messages="riskForm.riskCity.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must enter city</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Risk State</label>
                    <md-select ng-model="risk.state">
                        <md-option name="riskState" ng-repeat="state in states" value="{{state.abbrev}}" required>
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                    <div ng-messages="riskForm.riskState.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must select the  state.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="risk.zipCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                    <div ng-messages="riskForm.postalCode.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                        <div ng-message="pattern" class="my-message">
                            Please enter a valid postal code.
                        </div>
                    </div>
                </md-input-container>
            </div>


            <md-dialog-actions>
                <md-button class="md-raised" ng-disabled="savingData" ng-click="close()">Cancel</md-button>
                <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Save</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>