﻿
<div class="row">
    <div class="col-lg-12">

        <div class="col-lg-10">
            <div class="h2 text-center">Create new policy</div>
        </div>
        <div class="col-lg-push-2 col-lg-8">
            <br />
            <form name="outerForm" class="tab-form-demo">
                <uib-tabset active="activeTab" type="pills" style="height:100%">
                    <uib-tab index="0" heading="Policy Info" justified="true">
                        <br />
                        <ng-form name="policyInfoForm" ng-submit="gotoNextTab()" class="modal-form ">

                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Effective</label>
                                    <md-datepicker name="policyEffective" ng-model="policy.effective" flex required></md-datepicker>
                                    <div class="validation-nmessages" ng-messages="policyInfoForm.policyEffective.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must select the effective date.</div>
                                    </div>

                                </md-input-container>
                            </div>
                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Expiration</label>
                                    <md-datepicker name="policyExpiration" ng-model="policy.expiration" flex required></md-datepicker>
                                    <div ng-messages="policyInfoForm.policyExpiration.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must select the expiration date.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Policy Number</label>

                                    <input name="policyNumber" ng-model="policy.number" required>
                                    <div ng-messages="policyInfoForm.policyNumber.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must enter a policy number.</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div layout-gt-sm="row">
                                <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="1" heading="Insured(s)">
                        <br />
                        <ng-form name="primaryInsuredForm" ng-submit="getNextTab()" class="modal-form ">


                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Primary insured full name</label>
                                    <input name="primaryName" ng-model="policy.primaryName" required>
                                    <div ng-messages="primaryInsuredForm.primaryName.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must enter the full name of the primary insured.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Primary insured address name</label>
                                    <input name="primaryAddress" ng-model="policy.primaryMailingAddress" required>
                                    <div ng-messages="primaryInsuredForm.primaryAddress.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply an address.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>City</label>
                                    <input name="primaryCity" ng-model="policy.primaryCity" required>
                                    <div ng-messages="primaryInsuredForm.primaryCity.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must enter primary insured's city</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>State</label>
                                    <md-select ng-model="policy.primaryState">
                                        <md-option name="primaryState" ng-repeat="state in states" value="{{state.abbrev}}" required>
                                            {{state.abbrev}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="primaryInsuredForm.primaryState.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must select the primary insured's state.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Postal Code</label>
                                    <input name="postalCode" ng-model="policy.primaryZipCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                    <div ng-messages="primaryInsuredForm.postalCode.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                        <div ng-message="pattern" class="my-message">
                                            That doesn't look like a valid postal code.
                                        </div>

                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="2" heading="Risk(s)">
                        <br />
                        <ng-form name="riskForm" ng-submit="getNextTab()" class="modal-form ">
                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Risk Construction</label>
                                    <md-select ng-model="policy.riskConstruction" convert-to-number>
                                        <md-option value="0">Site Built Home</md-option>
                                        <md-option value="1">Modular Home</md-option>
                                        <md-option value="2">Single Wide Manufactured Home</md-option>
                                        <md-option value="3">Double Wide Manufactured Home</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Risk Year Built</label>
                                    <md-select ng-model="policy.riskYearBuilt">
                                        <md-option ng-repeat="year in years" value="{{year.value}}" required>
                                            {{year.value}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" class="material-form-font">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Risk address</label>
                                    <input name="riskAddress" ng-model="policy.riskAddress" required>
                                    <div ng-messages="riskForm.riskAddress.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply an address.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Rick City</label>
                                    <input name="riskCity" ng-model="policy.riskCity" required>
                                    <div ng-messages="riskForm.riskCity.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must enter city</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Risk State</label>
                                    <md-select ng-model="policy.riskState">
                                        <md-option name="riskState" ng-repeat="state in states" value="{{state.abbrev}}" required>
                                            {{state.abbrev}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="riskForm.riskState.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must select the primary insured's state.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Postal Code</label>
                                    <input name="postalCode" ng-model="policy.riskZipCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                    <div ng-messages="riskForm.postalCode.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                        <div ng-message="pattern" class="my-message">
                                            Please enter a valid postal code.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                            </div>
                        </ng-form>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>