﻿<div class="row">
    <div class="col-lg-12">
        <div aria-label="Create new policy" flex class="material-form-font">
            <div class="h2 text-center">Create New Policy</div>
            <md-content class="md-padding">
                <md-nav-bar ng-disabled="savingData" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="goto('page1')" name="page1">Policy Info <i style="color:red" class="material-icons" ng-show="!policyInfoForm.$valid && policyInfoForm.$dirty">error</i></md-nav-item>
                    <md-nav-item md-nav-click="goto('page2')" name="page2">Insured(s) <i style="color:red" class="material-icons" ng-show="!primaryInsuredForm.$valid && primaryInsuredForm.$dirty">error</i></md-nav-item>
                    <md-nav-item md-nav-click="goto('page3')" name="page3">Risk(s)<i style="color:red" class="material-icons" ng-show="!riskForm.$valid && riskForm.$dirty">error</i></md-nav-item>
                    <md-nav-item md-nav-click="goto('page4')" name="page4" ng-show="getFormsValid()">Summary </md-nav-item>
                </md-nav-bar>
                <div class="ext-content">
                    <div layout="row" flex>
                        <!-- Primary Insured-->
                        <md-content flex layout-padding ng-show="isActivePage(1)">
                            <form name="policyInfoForm" ng-submit="getNextPage(policyInfoForm)" class="modal-form">

                                <div layout="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Effective date</label>
                                        <md-datepicker name="policyEffective" ng-model="policy.effective" flex required></md-datepicker>
                                        <div class="validation-nmessages" ng-messages="policyInfoForm.policyEffective.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must select the effective date.</div>
                                        </div>

                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Expiration date</label>
                                        <md-datepicker name="policyExpiration" ng-model="policy.expiration" flex required></md-datepicker>
                                        <div ng-messages="policyInfoForm.policyExpiration.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must select the expiration date.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Policy Number</label>

                                        <input name="policyNumber" ng-model="policy.number" required>
                                        <div ng-messages="policyInfoForm.policyNumber.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must enter a policy number.</div>
                                        </div>
                                    </md-input-container>

                                </div>
                                <div layout-gt-sm="row">
                                    <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                    <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                                </div>
                            </form>
                        </md-content>


                        <!-- Primary Insured-->
                        <md-content flex layout-padding ng-show="isActivePage(2)">
                            <form name="primaryInsuredForm" ng-submit="getNextPage(primaryInsuredForm)" class="modal-form">

                                <md-button class="md-primary md-raised" ng-click="addInsured($event)">Add Insured</md-button>

                                <md-list ng-show="policy.insureds.length > 0">
                                    <md-subheader class="md-no-sticky">Insured(s)</md-subheader>
                                    <md-list-item ng-repeat="insured in policy.insureds">
                                        <p> {{ insured.name }} <em>{{insured.isPrimary ? '(Primary)' : '(Additional)'}}</em></p>
                                        <md-button class="md-secondary"  ng-click="editInsured($event, $index)"><i style="color:gray" class="material-icons">edit</i></md-button>
                                        <md-button class="md-secondary" ng-disabled="insured.isPrimary" ng-click="promptDeleteInsured($event, $index)"><i style="color:gray" class="material-icons">delete</i></md-button>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>

                                <md-list ng-show="policy.insureds.length == 0">
                                    <md-subheader class="md-no-sticky">Insured(s)</md-subheader>
                                    <md-list-item>
                                        <p style="color:red">Add Insured</p>

                                    </md-list-item>
                                </md-list>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <input type="hidden" name="insureds" ng-model="policy.insureds" zerolength>
                                    <div ng-messages="primaryInsuredForm.insureds.$error" role="alert" multiple>
                                        <div ng-message="zerolength" class="my-message">You must add at least one insured</div>
                                    </div>
                                </md-input-container>


                                <div layout-gt-sm="row">
                                    <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                    <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                                </div>
                            </form>
                        </md-content>

                        <!-- Risk -->
                        <md-content flex layout-padding ng-show="isActivePage(3)">
                            <form name="riskForm" ng-submit="getNextPage(riskForm)" class="modal-form">

                                <md-button class="md-primary md-raised" ng-click="addRisk($event)">Add Risk</md-button>


                                <md-list ng-show="policy.risks.length > 0">
                                    <md-subheader class="md-no-sticky">Risk(s)</md-subheader>
                                    <md-list-item ng-repeat="risk in policy.risks">
                                        <div class="md-list-item-text" layout="column">
                                            <div ng-switch="{{risk.construction}}">
                                                <div ng-switch="{{risk.construction}}">
                                                    <div ng-switch-when="0">
                                                        <p>Construction: <em>Site Built Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>
                                                    <div ng-switch-when="1">
                                                        <p>Construction: <em>Modular Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-when="2">
                                                        <p>Construction: <em>Single Wide Manufactured Home</em>Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-when="3">
                                                        <p>Construction: <em>Double Wide Manufactured Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-default></div>
                                                </div>
                                            </div>
                                            <p>Address: {{risk.address}}</p>
                                            <md-button class="md-secondary" ng-click="editRisk($event, $index)"><i style="color:gray" class="material-icons">edit</i></md-button>
                                            <md-button class="md-secondary" ng-disabled="policy.risks.length == 1" ng-click="promptDeleteRisk($event, $index)"><i style="color:gray" class="material-icons">delete</i></md-button>
                                            <md-divider></md-divider>
                                        </div>
                                    </md-list-item>

                                </md-list>

                                <md-list ng-show="policy.risks.length == 0">
                                    <md-subheader class="md-no-sticky">Risk(s)</md-subheader>
                                    <md-list-item>
                                        <p style="color:red">Add Risk</p>
                                    </md-list-item>
                                </md-list>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <input type="hidden" name="risks" ng-model="policy.risks" zerolength>
                                    <div ng-messages="riskForm.risks.$error" role="alert" multiple>
                                        <div ng-message="zerolength" class="my-message">You must add at least one risk</div>
                                    </div>
                                </md-input-container>
                                <div layout-gt-sm="row">
                                    <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                                    <md-button layout-align="end center" ng-disabled="savingData" type="submit" class="md-raised md-primary">Next</md-button>
                                </div>
                            </form>
                        </md-content>
                        <md-content ng-show="isActivePage(4)" flex class="modal-form">
                            <!--<div layout="row">
                                <h3 layout-align="center" style="color:red" ng-show="!policyInfoForm.$valid || !primaryInsuredForm.$valid || !riskForm.$valid!policyInfoForm.$valid">Please check policy inputs</h3>
                            </div>-->
                            <md-content ng-show="policyInfoForm.$valid && primaryInsuredForm.$valid && riskForm.$valid">
                                <div layout="row">
                                    <md-content class="md-padding">
                                        <label>Effective Date: <strong><em>{{policy.effective | date:'MM-dd-yyyy'}}</em> </strong></label>
                                    </md-content>
                                    <md-content class="md-padding">
                                        <label>Expiration Date: <strong><em>{{policy.expiration | date:'MM-dd-yyyy'}}</em> </strong></label>
                                    </md-content>
                                </div>

                                <div layout="row">

                                    <md-list ng-show="policy.insureds.length > 0">
                                        <md-subheader class="md-no-sticky">Insured(s)</md-subheader>
                                        <md-list-item ng-repeat="insured in policy.insureds">
                                            <p> {{ insured.name }} <em>{{insured.isPrimary ? '(Primary)' : '(Additional)'}}</em></p>
                                          
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>

                                <div layout="row" >

                                    <md-list ng-show="policy.risks.length > 0">
                                        <md-subheader class="md-no-sticky">Risk(s)</md-subheader>
                                        <md-list-item ng-repeat="risk in policy.risks">
                                            <div class="md-list-item-text" layout="column">
                                                <div ng-switch="{{risk.construction}}">
                                                    <div ng-switch-when="0">
                                                        <p>Construction: <em>Site Built Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>
                                                    <div ng-switch-when="1">
                                                        <p>Construction: <em>Modular Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-when="2">
                                                        <p>Construction: <em>Single Wide Manufactured Home</em>Built<em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-when="3">
                                                        <p>Construction: <em>Double Wide Manufactured Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                                    </div>

                                                    <div ng-switch-default></div>
                                                </div>
                                                <p>Address: {{risk.address}}</p>
                                              
                                                <md-divider></md-divider>
                                            </div>
                                        </md-list-item>

                                    </md-list>
                                </div>

                               

                            </md-content>
                            <md-button class="md-raised" ng-disabled="savingData" ng-click="cancel()">Cancel</md-button>
                            <md-button class="md-raised md-primary" ng-disabled="savingData || !policyInfoForm.$valid || !primaryInsuredForm.$valid || !riskForm.$valid" ng-click="save()">Save</md-button>
                            <md-progress-circular ng-show="savingData" ng-disabled="!savingData" class="md-hue-2" md-diameter="20px"></md-progress-circular>

                        </md-content>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>