﻿<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <h1 class="">RPS Policy Management System</h1>
            <br class="">
            <div class="col-lg-offset-3 col-lg-6">
                <form role="form" name="loginform" ng-submit="login()">
                    <div layout="row" flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input name="username" class="material-form-font input-lg" ng-model="username" required placeholder="username">
                            <div class="validation-nmessages" ng-messages="loginform.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">username cannot be empty</div>
                            </div>

                        </md-input-container>
                    </div>
                    <div layout="row" flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input name="password" class="material-form-font input-lg " ng-model="password" type="password" required placeholder="password">
                            <div class="validation-nmessages" ng-messages="loginform.password.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">password cannot be empty</div>
                            </div>

                        </md-input-container>
                    </div>
              
                    <button class="btn btn-primary btn-lg" ng-disabled="loggingIn" type="submit">Login</button>
                    <md-progress-circular ng-show="logginIn" ng-disabled="!loggingIn" class="md-hue-2" md-diameter="24px"></md-progress-circular>
                </form>
                
                <br class="">
                <br class="">

                
                <a href="#/register" style="font-size:20px">Sign up</a>
            </div>
        </div>
    </div>

    <br class="">
</div>
<!-- /container full -->
<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br class="">
            <br class="">
            <p class="pull-right">
                 ©Copyright 2016 <sup class="">TM</sup>
            </p>
            <br class="">
            <br class="">
        </div>
    </div>
</div>