﻿
<div class="col-lg-12">
    <br />

    <div class="row">
        <br />
        <div class="col-lg-8 col-lg-push-2">
            <input type="text" ng-model="search[filter]" class="form-control" placeholder="Search criteria">
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-lg-8 col-lg-push-2">

            <div class="h3">Search by:</div>
            <md-radio-group ng-model="filter">
                <md-radio-button value="primaryName" class="md-primary" ng-click="changeFilterTo('primaryName')">Insured name</md-radio-button>
                <md-radio-button value="number" ng-click="changeFilterTo('number')"> Policy Number </md-radio-button>
            </md-radio-group>
        </div>

    </div>
    <div class="row" ng-show="loading">
        <div class="col-lg-8">
            <div layout="row" layout-sm="column" layout-align="center">
                <br />
                <md-progress-circular ng-show="loading" ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
        <div class="col-lg-8 col-lg-push-2">
            <button class="btn-lg btn-primary" ng-click="createNewPolicy($event)">Create New Policy</button>
            <br />
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-push-2">
            <table class="table table-hover" ng-show="!loading">
                <thead>

                    <tr>
                        <th>Policy Number</th>
                        <th>Insured Name</th>
                        <th> Effective Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in policies | nameorpolicynumber: search" ng-click="viewPolicyDetails(x.id)">
                        <td>{{ x.number }}</td>
                        <td>{{ x.primaryName }}</td>
                        <td>{{ x.effective | date:'MM-dd-yyyy' }}</td>
                        <td>{{ x.expiration | date:'MM-dd-yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>