﻿<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <h1 class="">Register Account</h1>
            <br class="">
            <div class="col-lg-offset-3 col-lg-6">
                <form role="form" name="registerform" ng-submit="register()">
                    <div layout="row" flex>
                        <md-input-container class="mdblock" flex-gt-sm>
                            <input name="username" class="material-form-font input-lg" ng-model="username" required placeholder="username">
                            <div class="validation-nmessages" ng-messages="registerform.username.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">username cannot be empty</div>
                            </div>

                        </md-input-container>
                    </div>
                    <div layout="row" flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input name="password" class="material-form-font input-lg " ng-model="password" type="password" required placeholder="password"  ng-minlength="6">
                            <div class="validation-nmessages" ng-messages="registerform.password.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">password cannot be empty</div>
                                <div ng-message="minlength" class="my-message">password must be atleast 6 chars long</div>
                            </div>

                        </md-input-container>
                    </div>

                    <div layout="row" flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input name="confirmPassword" class="material-form-font input-lg " ng-model="confirmPassword" type="password" required placeholder="confirm password" confirm-pwd="password" ng-minlength="6">
                            <div class="validation-nmessages" ng-messages="registerform.confirmPassword.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">confirm password</div>
                                <div ng-message="password" class="my-message">password and confirm password must don't mactch</div>
                                <div ng-message="minlength" class="my-message">password must be atleast 6 chars long</div>
                            </div>

                        </md-input-container>
                    </div>

                    <md-progress-circular ng-show="creating" ng-disabled="!creating" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                    <button class="btn btn-primary btn-lg" ng-disabled="creating || !registerform.$valid"  type="submit">Register</button>
                    <a href="#/login" style="font-size:20px">Cancel</a>
                </form>

                <br class="">
                <br class="" />
            </div>
        </div>
    </div>

    <br class="">
</div>