﻿<div class="row" ng-cloak>

    <div class="col-lg-12">
        <div class="row">

            <div class="row ">
                <div class-="col-lg-8 col-lg-push-4">
                    <div class="h2 text-center">Policy Details</div>
                    <br />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2">
                <md-button><i style="color:gray; font-size:36px" ng-disabled="updating" ng-click="promptDelete($event)" class="material-icons">delete</i></md-button>
                <md-button><i style="color:gray; font-size:36px" ng-disabled="updating" ng-click="redirectToEdit()" class="material-icons">edit</i></md-button>
                <md-progress-circular ng-show="updating" ng-disabled="!updating" class="md-hue-2" md-diameter="20px"></md-progress-circular>
            </div>
        </div>

        <div class="col-lg-8 col-lg-push-2">
            <form name="policyDetails" layout-align="center" ng-submit="update()">

                <!-- Policy Dates-->
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-default" heading="Policy Dates">
                        <div layout="row" class="material-form-font">
                            <md-input-container class="md-block" ng-show="canEdit" flex-gt-sm>
                                <label>Effective date</label>
                                <md-datepicker name="policyEffective" ng-model="policy.effective" flex required></md-datepicker>
                                <div class="validation-nmessages" ng-messages="policyDetails.policyEffective.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must select the effective date.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" ng-show="!canEdit" flex-gt-sm>
                                <label>Effective Date</label>
                                <input type="date" ng-readonly="true" ng-model="policy.effective">
                            </md-input-container>
                        </div>
                        <div layout="row" class="material-form-font">
                            <md-input-container class="md-block" ng-show="canEdit" flex-gt-sm>
                                <label>Expiration date</label>
                                <md-datepicker ng-readonly="!canEdit" name="policyExpiration" ng-model="policy.expiration" flex required></md-datepicker>
                                <div ng-messages="policyDetails.policyExpiration.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must select the expiration date.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" ng-show="!canEdit" flex-gt-sm>
                                <label>Expiration Date</label>
                                <input type="date" ng-readonly="true" ng-model="policy.expiration">
                            </md-input-container>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Insured(s)">
                        <div layout="row" class="material-form-font">
                            <md-list>
                                <md-list-item ng-repeat="insured in policy.insureds">
                                    <p> {{ insured.name }} <em>{{insured.isPrimary ? '(Primary)' : '(Additional)'}}</em></p>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>

                    </div>
                    <div uib-accordion-group class="panel-default" heading="Risk(s)">
                        <div layout="row" class="material-form-font">

                            <md-list ng-show="policy.risks.length > 0">
                                <md-list-item ng-repeat="risk in policy.risks">
                                    <div class="md-list-item-text" layout="column">
                                        <div ng-switch="{{risk.construction}}">
                                            <div ng-switch-when="0">
                                                <p>Construction: <em>Site Built Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                            </div>
                                            <div ng-switch-when="1">
                                                <p>Construction: <em>Modular Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                            </div>

                                            <div ng-switch-when="2">
                                                <p>Construction: <em>Single Wide Manufactured Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                            </div>

                                            <div ng-switch-when="3">
                                                <p>Construction: <em>Double Wide Manufactured Home</em> Built in <em>{{risk.yearBuilt}}</em></p>
                                            </div>

                                            <div ng-switch-default></div>
                                        </div>
                                        <p>Address: {{risk.address}}</p>
                                        <md-divider></md-divider>
                                    </div>
                                </md-list-item>
                        </div


                    </div>
                </uib-accordion>
            </form>
        </div>
    </div>
</div>
