﻿

// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}


// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

md-dialog.fullscreen-dialog {
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    height: 80%;
    border-radius: 0;
}

.modal-form{

    background:#fff !important;
}


.disable-click {
  pointer-events: none;
}

.material-form-font{
    font-size: 18px !important;
}

 .md-datepicker-calendar-pane {
        z-index: 1200 !important;
    }


 .nested-form-height{

     height:80%;


 }

 .md-datepicker-input-container {
  width: 10%;
  margin-left: 0px;
}