﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body ng-app="app">
    <!-- Bootstrap Core CSS -->
    <link href="Styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"  rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="Styles/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="Styles/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="Styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <link rel="stylesheet" href="Styles/css/site.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">
    <!--<script src="Scripts/bootstrap.min.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <!--<script src="Scripts/angular.js"></script>-->
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  
    <!--<script src="Scripts/angular-animate.js"></script>-->
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/controllers/LoginController.js"></script>
    <script src="App/controllers/MainController.js"></script>
    <script src="App/controllers/PoliciesController.js"></script>
    <script src="App/controllers/CreateNewPolicyController.js"></script>
    <script src="App/controllers/CreatePolicyController.js"></script>
    <script src="App/controllers/ViewPolicyController.js"></script>
    <script src="App/controllers/EditPolicyController.js"></script>
    <script src="App/controllers/AddInsuredController.js"></script>
    <script src="App/controllers/AddRiskController.js"></script>
    <script src="App/controllers/LogOffController.js"></script>
    <script src="App/controllers/RegisterController.js"></script>

    <script src="App/services/AuthService.js"></script>
    <script src="App/services/PoliciesService.js"></script>
    <script src="App/services/RegistrationService.js"></script>

    <script src="App/models/AuthToken.js"></script>
    <script src="App/models/Register.js"></script>

    <script src="App/directives/ZeroValueDirective.js"></script>
    <script src="App/directives/ConfirmPassword.js"></script>


    <div class="navbar navbar-inverse navbar-fixed-top" ng-show="showNavbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/policies">RPS</a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#policies">Policy Management</a></li>
                    <li><a href="#/destroy"><i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container-fluid">
        <br/>
        <br/>
        <div ng-view class="row gutter-20">

            <!-- We'll add views here at runtime. -->
        </div>
    </div>

</body>
</html>
